[Unit]
Description=Fetch and display the latest data

[Service]
Type=oneshot
EnvironmentFile=/etc/docker.env
ExecStart=/bin/bash /app/update.sh

[Install]
WantedBy=multi-user.target
